cardRatingJustitication  {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}


 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 



.ratings ul[dnd-list] {
    min-height: 42px;
	width: 150px;
	padding-top: 10px;
    padding-left: 20px;
}

/*Fix li clip*/
tip-cont>.ng-scope>.ng-binding {
    width: 94px;
    height: 32px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.ratings ul[dnd-list] .dndDraggingSource {
    display: none;
}

.ratings ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: inline-block;
    min-height: 42px;
}


.ratings ul[dnd-list] li {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #ddd;
    border-color: #555;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
/*    display: inline-block;*/
/*    padding-top: 10px;*/
/*	padding-left:10px;*/
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 40px;
	width: 300px;
	padding-top: 10px;
    padding-left: 10px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: inline-block;
    min-height: 40px;
}

.simpleDemo ul[dnd-list] li {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #ddd;
    border-color: #555;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

/*Styles for -3 to 0 ratings*/
#td-n3>.panel-heading {
/*    background-image: linear-gradient(to bottom, #FF4242 0, #E82A2A 100%)!important;*/
    background-image: linear-gradient(to bottom, #E82A2A 0, #E82A2A 100%)!important;
/*    background-image: #FF4242 !important;*/
    border-color: #FF4242 !important;
}

#td-n3 {
    background-color: #FF4242;
    border-color: #E82A2A;
}

#td-n2>.panel-heading {
/*    background-image: linear-gradient(to bottom,  #FF7171 0, #E82A2A 100%)!important;*/
    background-image: linear-gradient(to bottom,  #FF7171 0, #FF7171 100%)!important;
    border-color: #FF8989 !important;
}

#td-n2 {
    background-color: #FF8989;
    border-color: #E82A2A;
}

#td-n1>.panel-heading {
/*    background-image: linear-gradient(to bottom,  #FF8989 0, #E82A2A 100%)!important;*/
    background-image: linear-gradient(to bottom,  #FF8989 0, #FF8989 100%)!important;
    border-color: #FF8989 !important;
}

#td-n1 {
    background-color: #FFB8B8;
    border-color: #E82A2A;
}

/*Styles for 1 to 3 ratings*/

#td-p3>.panel-heading {
/*    background-image: linear-gradient(to bottom, #30A835 0, #06960D 100%) !important;*/
    background-image: linear-gradient(to bottom, #06960D 0, #06960D 100%) !important;
    border-color: #06A10E !important;
}

#td-p3 {
    background-color: #00A848;
    border-color: #06960D
}

#td-p2>.panel-heading {
/*    background-image: linear-gradient(to bottom,  #45B149 0, #06960D 100%)!important;*/
    background-image: linear-gradient(to bottom,  #45B149 0, #45B149 100%)!important;
    border-color: #06A10E !important;
}

#td-p2 {
    background-color: #34BA6C;
    border-color: #06960D;
}

#td-p1>.panel-heading {
/*    background-image: linear-gradient(to bottom,  #5ABA5D 0, #06960D 100%)!important;*/
    background-image: linear-gradient(to bottom,  #5ABA5D 0, #5ABA5D 100%)!important;
    border-color: #06A10E !important;
}

#td-p1 {
    background-color: #68CC90;
    border-color: #06960D;
}


/**/

#td-n0>.panel-heading {
/*    background-image: linear-gradient(to bottom, #BAB6B6 0, #969292 100%) !important;*/
    background-image: linear-gradient(to bottom, #969292 0, #969292 100%) !important;
    border-color: #969292 !important;
}

#td-n0 {
    background-color: #BAB9B9;
    border-color: #969292
}

.panel-info>.disagree_panel_heading {
    background-image: linear-gradient(to bottom, #ff4242 0, #e82a2a 100%)!important;
    border-color: #e82a2a !important;
}

.panel-info>.neutral_panel_heading {
    background-image: linear-gradient(to bottom, #BAB6B6 0, #969292 100%) !important;
    border-color: #969292 !important;
}

.panel-info>.agree_panel_heading {
    background-image: linear-gradient(to bottom, #30A835 0, #06960D 100%) !important;
    border-color: #06A10E !important;
}

#disagree {
    background-color: #ff6666;
    border-color: #e82a2a;
}

#neutral {
    background-color: #BAB9B9;
    border-color: #969292
}

#agree {
    background-color: #00A848;
    border-color: #06960D
}

.panel-title {
    color: white !important;
}

/*Fix tooltip text*/
tooltip tip {
    text-align: left !important;
    min-width: 300px !important;
}




