<div ng-controller='step2Ctrl'>
	<center><h2><b>ABOUT RAPID REVIEWS</b></h2></center><br/>
	
	<b><center>PLEASE READ THIS BOX ENTIRELY, IT IS CRUCIAL TO THE NEXT STEPS</center></b><br/><br/>
	
	<p style="margin-left:100px; margin-right:100px; margin-bottom:20px; margin-top:0px;">
	
  
	This study is about the perceptions and attitudes of software engineering researchers on applying Rapid Reviews in software engineering research.<br/><br/>
	
	<b>WHAT IS A RAPID REVIEW?</b><br/>
	Rapid Reviews are lightweight Systematic Reviews aiming to deliver evidence to practitioners in a more timely manner, and considering others constraints inherent to software engineering practice. Some steps of traditional Systematic Reviews are deliberately omitted or simplified to achieve this goal.<br/><br/>
	
	The most notable characteristics of a Rapid Review are:<br/>
	1. It reduces the costs of heavyweight methods;<br/>
	2. It delivers evidence in a timely manner to practitioners;<br/>
	3. It is guided by a practical problem, identified in practice;<br/>
	4. It is performed in close collaboration with practitioners;<br/>
	5. It reports results through mediums more appealing to practitioners than the traditional research paper format.<br/><br/>

	To achieve these goals, Rapid Reviews may limit literature search, use just one person to screen studies, do not conduct quality appraisal, or present results with no formal synthesis.<br/><br/>
	
	As a shortcoming, it lowers the validity of the results.<br/><br/>
	
	It is important to note that, by any means, Rapid Reviews were not conceived to replace traditional systematic reviews. Instead, both can and should coexist. While traditional systematic reviews are important to provide in-depth insights, Rapid Reviews are important to easily and quickly transfer established knowledge to practice.<br/><br/>
	
	<b>WHERE THE IDEA OF RAPID REVIEWS COME FROM?</b><br/>
	Although Rapid Reviews are not well-known in software engineering, they are facing a growing interest in health-related fields like medicine.<br/><br/>
	
	A scoping study identified 100 Rapid Reviews published between 1997 and 2013, and observed that 56% of them were published on the last five years of investigation [1]. Additionally, major medicine venues, such as the prestigious Systematic Reviews journal, are officially recognizing Rapid Reviews as one of the Evidence Based Practice methods [2]. Moreover, Cochrane - a global renowned group of researchers and practitioners specialized in evidence diffusion in health-care - announced in 2016 a group to play a leading role guiding the production of Rapid Reviews [3]. Even the World Health Organization (WHO) has recently published a guide presenting the importance of Rapid Reviews [4].<br/><br/> 
		
	<b>REFERENCES</b><br/>
	[1] Andrea C. Tricco et al. A scoping review of rapid review methods. BMC Medicine, 2015.<br/>
	[2] David Moher et al. All in the Family: systematic reviews, rapid reviews, scoping reviews, realist reviews, and more. Systematic Reviews, 2015.<br/>
	[3] Chantelle Garritty et al. Cochrane Rapid Reviews Methods Group to play a leading role in guiding the production of informed high-quality, timely research evidence syntheses. Systematic reviews, 2016.<br/>
	[4] Andrea C. Tricco et al. Rapid reviews to strengthen health policy and systems: a practical guide. World Health Organization, 2017. http://apps.who.int/iris/bitstream/10665/258698/1/9789241512763-eng.pdf<br/>
	</p>
	
	<form>
		<table align="center">
			<tr>
				<td>
					<div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px">
						<a href="" ng-click="back()" class="btn btn-default btn-lg btn-block" style="width:100px">Back</a>
					</div>
				</td>
				<td>
					<div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px">
						<a href="" ng-click="next()" class="btn btn-default btn-lg btn-block" style="width:300px">Continue</a>
					</div>
				</td>
				<td>
					
				</td>
			</tr>
		</table>
	</form>
</div>
