<div>
	<div ng-show="debugging" align="center" style="background-color:red;color:white">
		<b>DEBUGGING</b>
	</div>
	<div class="dynamicpages" ng-bind-html="currentPage"> 
	</div>

	<form>
		<table align="center">
			<tr>
				<td>
					<div class="col-xs-4 col-xs-offset-4 next-button" ng-show="currentPageIndex > 0" align="center" style="margin-bottom:50px">
						<a href="" ng-click="back()" class="btn btn-default btn-lg btn-block" style="width:100px">Back</a>
					</div>
				</td>
				<td>
					<div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px">
						<a href="" ng-click="next()" class="btn btn-default btn-lg btn-block" style="width:300px">Continue</a>
					</div>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</form>
</div>
