<div ng-controller="step6Ctrl as vm">
	<formly-form model="vm.user" fields="vm.userFields">
	</formly-form>	

	<form>
		<table align="center">
			<tr>
				<td>
					<div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px">
						<a href="" ng-click="back()" class="btn btn-default btn-lg btn-block" style="width:100px">Back</a>
					</div>
				</td>
				<td>
					<div align="center" ng-show="done()">
						<div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px">
							<a href="" ng-click="send()" class="btn btn-default btn-lg btn-block" style="width:100px">Continue</a>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
	<br/>
	<br/>
</div>
