<div ng-controller='step7Ctrl'>
	<br/>
	
	<div style="width:7%;float:left;padding-left:10px;padding-right:10px;">
	
		<img src="https://i.imgur.com/aqEvim5.png" width="100%" />
	
	</div>
	
	<div style="width:93%;float:right;">
		<p style="font-size: 28px;"><b>You have ended successfully!</b></p>
		
		Thank you for participating in this research. <br/><br/>
		
		If you have any doubt or extra comment, do not hesitate to <b>contact us in</b> bfsc@cin.ufpe.br
	</div>
	
	
	
	

	<br/>
	<br/>

</div>
