<div class="simpleDemo">
	<div ng-show="debugging" align="center" style="background-color:red;color:white">
		<b>DEBUGGING</b>
	</div>
    <br/>
    <br/>

    <center>If you need to <b>read the instructions of this step again, click on the "Help"</b> button on the bottom this page.</center>

    <br/>
    <br/>
    
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="helpModalLabel">CLASSIFING THE STATEMENTS</h4>
                </div>
                <div class="modal-body">
                <b><center>PLEASE READ THESE INSTRUCTIONS.</center></b>
                <br>
                <br> Read the following statements carefully and split them up into 3 piles:
                <br>
                <br> 1. A pile for statements you tend to disagree with;
                <br> 2. A pile for cards you tend to agree with;
                <br> 3. A pile for the rest.
                <br>
				<br>OBS: The order you put the cards in each pile is NOT important.
				<br>
                <br> If you want to read this instruction again, press the help button.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <center>
        <div ng-show="done()">
            <div class="col-xs-4 col-xs-offset-4 next-button">
                <a href="" ng-click="next()" class="btn btn-default btn-lg btn-block" style="width:300px">Continue</a>
            </div>
        </div>

        <div class="cardsholder" style="height: 175px">
            <ul dnd-list="cards.statements">
                <li ng-repeat="statement in cards.statements | filter: hasNoCategory | limitTo: 1"
                 dnd-draggable="statement" dnd-moved="cards.statements.splice($index, 1)"
                 dnd-effect-allowed="move" dnd-selected="cards.first == statement.id"
                  >
                    {{ statement.statement }}
                </li>
                <li class="dndPlaceholder" style="display: none;">
                </li>
            </ul>
        </div>

        <div class="step3lists">
            <div class="simpleDemo row" style="margin:20px ">
            <div class="row">
                <table align="center">
                    <tr>
                        <td style="vertical-align:top">
                            <div style="width:320px;padding-right:10px;">
                                <div class="panel panel-info" id="disagree">
                                    <div class="panel-heading disagree_panel_heading">
                                        <h3 class="panel-title" align="center">DISAGREE</h3>
                                    </div>
                                    <ul dnd-list="classifications" dnd-drop="dropDisagreeCallback(index, item, external, type)">
                                        <li ng-repeat="statement in classifications.DISAGREE" dnd-draggable="statement" dnd-moved="classifications.DISAGREE.splice($index, 1)" dnd-effect-allowed="move">
                                            {{ statement.statement }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div style="width:320px;padding-right:10px;">
                                <div class="panel panel-info" id="neutral">
                                    <div class="panel-heading neutral_panel_heading">
                                        <h3 class="panel-title" align="center">NEUTRAL</h3>
                                    </div>
                                    <ul dnd-list="classifications" dnd-drop="dropNeutralCallback(index, item, external, type)">
                                        <li ng-repeat="statement in classifications.NEUTRAL" dnd-draggable="statement" dnd-moved="classifications.NEUTRAL.splice($index, 1)" dnd-effect-allowed="move">
                                            {{ statement.statement }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align:top">
                            <div style="width:320px;padding-right:10px;;">
                                <div class="panel panel-info" id="agree">
                                    <div class="panel-heading agree_panel_heading">
                                        <h3 class="panel-title" align="center">AGREE</h3>
                                    </div>
                                    <ul dnd-list="classifications" dnd-drop="dropAgreeCallback(index, item, external, type)">
                                        <li ng-repeat="statement in classifications.AGREE" dnd-draggable="statement" dnd-moved="classifications.AGREE.splice($index, 1)" dnd-effect-allowed="move">
                                            {{ statement.statement }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </center>

    <form>
        <table align="center">
            <tr>
                <td>
                    <div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px">
                        <a href="" ng-click="back()" class="btn btn-default btn-lg btn-block" style="width:100px">Back</a>
                    </div>
                </td>
                <td>
                    <div class="col-xs-4 col-xs-offset-4 next-button" align="center" style="margin-bottom:50px" data-toggle="modal" data-target="#helpModal">
                        <a href="" class="btn btn-default btn-lg btn-block" style="width:100px">Help</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
